
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form">
                <div class="dx-fieldset">    
                    <div class="dx-field">
                        <div class="dx-field-label">Default modes</div>
                        <div class="dx-field-value">
                            <div id="simple"></div>
                        </div>
                    </div>    
                    <div class="dx-field">
                        <div class="dx-field-label">With placeholder</div>
                        <div class="dx-field-value">
                            <div id="placeholder"></div>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Default mode</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                                .Value("John Smith")
                            )
                        </div>
                    </div>
                </div>
            </div> 
         </div>       
    </div>
    <div class="row">
        <di class="col-md-8">
            <div id="gridContainer"></div>
        </di>
    </div>
</div>

<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>

<script>

var mygrid;
$(function(){
    $("#simple").dxTextBox({
        value: "John Smith"
    });
    
    $("#placeholder").dxTextBox({
        placeholder: "Enter full name here..."
    });
    BindData();


});

function BindData()
{
  mygrid = $("#gridContainer").dxDataGrid({
            dataSource: {
                store: GetData()
            },
            showBorders: true,
            remoteOperations: {
                sorting: true,
                paging: true
            },
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [1, 8, 12, 20]
            },
            columns: [
                    {
                        dataField: "id"
                    },
                    {
                        dataField: "companyName"
                    }
                ]
        }).dxDataGrid("instance");
}
function GetData()
{
     return new DevExpress.data.CustomStore({
        load: function (loadOptions) {
            var deferred = $.Deferred(),
                args = {};
    
            // if (loadOptions.sort) {
            //     args.orderby = loadOptions.sort[0].selector;
            //     if (loadOptions.sort[0].desc)
            //         args.orderby += " desc";
            // }
            args.skip = loadOptions.skip;
            args.take = loadOptions.take;
            args.requireTotalCount= loadOptions.requireTotalCount;
    
            $.ajax({
                url: "GetData",
                dataType: "json",
                data: args,
                success: function(result) {
                    a =  JSON.stringify(result);
                    //alert(a);
                    deferred.resolve(result.data, { totalCount: result.totalCount });
                },
                error: function() {
                    deferred.reject("Data Loading Error");
                }
            });
    
            return deferred.promise();
        }
    });
}

var connection = new signalR.HubConnectionBuilder().withUrl("/Hubs").build();


connection.on("Notify", function (msg) {
    //alert(JSON.stringify(msg));
    
    BindData();
});


connection.start().catch(function (err) {
    
    alert('test');

    return console.error(err.toString());
});

</script>


